@page
@model WebRoutes.Pages.ExtraOffers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExtraOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExtraOffer.ID" />
            <div class="form-group">
                <label asp-for="ExtraOffer.name" class="control-label"></label>
                <input asp-for="ExtraOffer.name" class="form-control" />
                <span asp-validation-for="ExtraOffer.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraOffer.description" class="control-label"></label>
                <input asp-for="ExtraOffer.description" class="form-control" />
                <span asp-validation-for="ExtraOffer.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraOffer.price" class="control-label"></label>
                <input asp-for="ExtraOffer.price" class="form-control" />
                <span asp-validation-for="ExtraOffer.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCategories"
                                               value="@cat.extracategoryID"
                                               @(Html.Raw(cat.assigned ? "checked=\"checked\"" : "")) />
                                         @: @cat.name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
